@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6, .title, a{
    font-family: "Kanit", sans-serif;
    font-weight: 900;
}
.bold{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}
p,span,button,ul,li, input, textarea {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.lists{
    @apply cursor-pointer hover:bg-gray-100 p-1 rounded-full h-8 w-8 text-center transition-all duration-300 ease-in hover:scale-105 hover:text-violet-800
}

.sidebar{
    @apply cursor-pointer relative hover:bg-gray-100 p-1  text-center transition-all duration-300 ease-in hover:scale-105 hover:text-violet-800 mx-5 rounded-lg uppercase py-3 text-white
}

.about-li{
    @apply list-disc
}

.tag{
    @apply  absolute bg-violet-400 -top-2 px-2 rounded-lg font-bold
}

.sicons{
  @apply h-8 w-8 rounded-full cursor-pointer hover:bg-violet-500 text-xl text-center p-1 hover:text-white transition-all duration-300 ease-linear hover:scale-110
}
.picons{
  @apply h-9 w-14 rounded-xl cursor-pointer bg-white hover:bg-violet-400 text-xl text-center hover:text-white transition-all duration-300 ease-linear hover:scale-110 p-1
}
.inputarea, .textarea{
    @apply outline-none h-12 w-full rounded-lg p-3 font-semibold border-2 border-gray-200
}
.textarea{
    @apply h-full
}
.slick-slide{
    margin: 10px;
}

 .slick-prev:before, .slick-next:before{
    font-size: 27px;
  }

  .slick-prev, .slick-next{
    width: 50px !important;
    height: 50px !important;
    color: #ffa7a7 !important;
    background: #8c7edf !important;
    border-radius: 10px !important;
    margin: 10px;
    z-index: 10;
  }
